.custom-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

@media (min-width: 768px) {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 10px;
      }
      
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #7e22ce;
        border-radius: 20px;
        cursor: pointer;
      }
      
      .custom-scrollbar::-webkit-scrollbar-track {
        border-radius: 20px;
      }
      
}